:root {
    --color-primary: #114084;
    --color-secondary: #3466aa;
    --color-tertiary: #82b7dc;
    --color-light: #F1F1F1;
    --color-gray: #808080;
    --color-dark: #1C1C1C;
    --color-white: #ffffff;
}